---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>

{% assign publications_by_year = site.publications | group_by_exp:"item", "item.date | date: '%Y'" | sort: "name" | reverse %}

{% for year in publications_by_year %}
  <h2>{{ year.name }}</h2>
  <ul>
  {% for publication in year.items %}
    <li>
      {% if publication.authors %}
        {{ publication.authors | replace: site.author.name, "<strong>" | append: site.author.name | append: "</strong>" }}
      {% else %}
        {% if publication.citation %}
          {% assign citation_parts = publication.citation | split: "." %}
          {{ citation_parts[0] | replace: site.author.name, "<strong>" | append: site.author.name | append: "</strong>" }}.
        {% endif %}
      {% endif %}
      <br>
      <a href="{{ publication.permalink }}">{{ publication.title }}</a><br>
      {{ publication.venue }}<br>
      <span class="paper">Paper</span>
    </li>
  {% endfor %}
  </ul>
{% endfor %}



