---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>

<style>
  ul {
    padding-left: 20px;
    list-style-type: none;
  }
  li.year-group {
    margin-bottom: 15px;
    position: relative;
  }
  li.year-group:before {
    content: "•";
    position: absolute;
    left: -20px;
    top: 0;
  }
  li.publication {
    margin-bottom: 15px;
    padding-left: 20px;
  }
  /* Remove bullet for venue */
  li.venue {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 15px;
    padding-left: 20px;
  }
</style>

{% assign publications_by_year = site.publications | group_by_exp:"item", "item.date | date: '%Y'" | sort: "name" | reverse %}

{% for year in publications_by_year %}
  <h2>{{ year.name }}</h2>
  <ul>
  {% for publication in year.items %}
    <li class="year-group">
      <a href="{{ publication.permalink }}">{{ publication.title }}</a><br>
      <div style="padding-left: 0;">
        {% if publication.authors %}
          {{ publication.authors | replace: site.author.name, "<strong>" | append: site.author.name | append: "</strong>" }}
        {% else %}
          Chengye Wang, <strong>Yifei Shen</strong>, Zexi Kuang, Arman Cohan, Yilun Zhao
        {% endif %}
        <br>
        {{ publication.venue }}
      </div>
    </li>
  {% endfor %}
  </ul>
{% endfor %}